<h1>Librarian Dashboard</h1>

<h3>Total Books On Loan: <%= @loans.total_on_loan%></h3>
<h3>Total Overdue Books: <%=@loans.total_overdue%></h3>

<h4><%= link_to "Manage Loans", loans_path%></h4>
<%= link_to "Manage Users", users_path%><br>  <%= render partial: 'application/search', locals: {item: @user}%><br>
<%= link_to "Manage Collection", books_path%> <%= render partial: 'application/search', locals: {item: @book}%><br>
