<h1><%= @author.name%>
<%= render partial: 'edit_button', locals: {author: @author}%> </h1>


Born: <%= @author.birth_date %><br>
Died: <%= @author.death_date%><br>


<br><a href="#" id="show-author-books" data-author-id="<%= @author.id%>">View Books By This Author</a>
<%= render partial: 'add_book_button', locals: {author: @author}%>
<div id="author-books-list"></div>
<br>

<h3>Bio: </h3>
<p><%=@author.bio%></p>
