<h1><%= @author.name%>
<%= render partial: 'edit_button', locals: {author: @author}%> </h1>


Born: <%= @author.birth_date %><br>
Died: <%= @author.death_date%><br>


<br><%= link_to "Browse Books By This Author", author_books_path(@author)%> 
<%= render partial: 'add_book_button', locals: {author: @author}%>
<br>

<h3>Bio: </h3>
<p><%=@author.bio%></p>







