<h1><%= @author.name%></h1>


Born: <%= @author.born.strftime("%B %d, %Y") %><br>
<% if @author.died %>
  Died: <%= @author.died.strftime("%B %d, %Y")%><br>
<%end%><br>

<%= link_to "Browse Books By This Author", author_books_path(@author)%><br>

<h3>Bio: </h3>
<p><%=@author.bio%></p>

<%if librarian?%>
  <%=button_to "Edit", edit_author_path(@author), method: :get%>
<%end%>



