<%= form_for user do |f| %>
<div class="form-group">
	<%= f.radio_button :role, "librarian" %>
	<%= f.label :role, "New Librarian" %>
	<%= f.radio_button :role, "patron" %>
	<%= f.label :role, "New Patron" %>
</div>
<div class="form-group">
	<%= f.label :first_name %>
	<%= f.text_field :first_name, class: "form-control"%>
</div>
<div class="form-group">
	<%= f.label :last_name %>
	<%= f.text_field :last_name, class: "form-control"%>
</div>
<div class="form-group">
	<%= f.label :email %>
	<%= f.email_field :email, class: "form-control"%>
</div>
<div class="form-group">
	<%= f.label :password%>
	<%= f.password_field :password, class: "form-control"%>
</div>
<div class="form-group">
	<%= f.label :password_confirmation%>
	<%= f.password_field :password_confirmation, class: "form-control"%>
</div>
  <%= f.submit(class: "btn btn-primary btn-sm")%>
<%end%>
