
<% if checked_out_books?(user) %>

	<h3>Current Loans: </h3>


  <ul>
	  <% on_loan_to(user).each do |loan| %> 
		
			<%if loan.overdue?%>
				<li><%=link_to loan.book.title, book_path(loan.book)%> ||
				OVERDUE <%if patron?%> -- PLEASE RETURN <%end%> 
			
			<%else%>
			
				<li><%=link_to loan.book.title, book_path(loan.book)%> ||
				due on <%= loan.due_date.strftime("%A, %B %d %Y") %>
			<%end%>
			
			<%if patron?%>
			
				<%=button_to "Return", loan_path(loan), method: :put%>
				
			<%elsif librarian?%>
				<%=button_to  "Extend Loan", edit_loan_path(loan), method: :get%>
			<%end%>
		
		</li>
		<%end%>
	</ul>
	
<%end%>
