
<% if checked_out_books?(user) %>

	<h3>Current Loans: </h3>


  <ul>
	  <% on_loan_to(user).each do |loan| %> 
		
			<%if loan.overdue?%>
				<li><%=render partial: 'books/links', locals: {book: loan.book}%> ||
				OVERDUE <%if patron?%> -- PLEASE RETURN <%end%> 
			
			<%else%>
			
				<li><%=render partial: 'books/links', locals: {book: loan.book}%> ||
				due on <%= loan.show_due_date %>
			<%end%>
			
		  <%= render partial: 'return_book_button', locals: {loan: loan}%>
		  <%= render partial: 'extend_loan_button', locals: {loan: loan}%>
				
			<%end%>
		
		</li>
		<%end%>
	</ul>
	
<%end%>
