
 <h3><%=link_to "View Our Most-Borrowed Books", most_borrowed_books_path%></h3>

<%= link_to "Browse Books", books_path%><br>
<%= render partial: 'application/search', locals: {item: @book}%><br>

<%= link_to "Browse Authors", authors_path%><br>
<%= render partial: 'application/search', locals: {item: @author}%><br>
