     <h1>Browse Books <%if author_view?%> by <%=link_to @author.name, author_path(@author)%> <%end%></h1>
	   
	   <%= render 'add_book_button' if librarian?%>
	   
	   
	   <%unless author_view?%>
	   
			 <h3><%=link_to "View Our Most-Borrowed Books", most_borrowed_books_path%></h3>
		 
			 <%= render partial: 'application/search', locals: {item: @books.first}%><br>
	   
	   <%end%>
	
	   <%unless fiction_books.empty?%>
	     
	     <h3>Fiction</h3>
	        
	        <ul>
	          <%= render partial: 'list', collection: fiction_books, as: :book%>
	        </ul>
	    
	    <%end%>
	        
	    <%unless non_fiction_books.empty?%>
	    
	    <h3>Non-Fiction</h3>
	      
	      <ul>
	        <%= render partial: 'list', collection: non_fiction_books, as: :book%>
	      </ul>
	      
	    <%end%>
	      
	     
	  

  
     
