<h1><%= @book.title%>  </h1>

<h2>by <%=link_to @book.author.name, author_path(@book.author)%> </h2>

<p>Publication Year: <%=@book.publication_year%></p>

<strong>Categories: || </strong><%@book.categories.each do |c|%><%=c.name %> || <%end%>

<p><%=@book.synopsis%></p>

<%if logged_in? && current_user.librarian? %>
  <%=button_to "Edit Book", edit_book_path(@book), method: :get%>
<%end%><br>

<%=@book.available_copies%> available
<%if logged_in? && current_user.patron? && @book.available? %>
  
  <%=button_to "Borrow", loans_path, method: :post, params: {book_id: @book.id}%>
  
<%elsif logged_in? && current_user.librarian? %>
  <%= @book.copies%> in collection<br>
  
  
	  <%= @book.checked_out_copies%> checked out <%if @book.checked_out_copies != 0%> to: 
	  <%@book.loans.each do |l|%>
		  <%= link_to l.patron.name, user_path(l.patron)%>, due on <%=l.due_date.strftime("%A, %B %d %Y")%>
	  <%end%>
   <%end%>	  
  

<%end%>

  
