<h1><%= @book.title%>  </h1>

<h2>by <%=link_to @book.author.name, author_path(@book.author)%> 
  <%= render partial: 'edit_book_button', locals: {book: @book}%> </h2>

  
<p>Publication Year: <%=@book.publication_year%></p>

<strong>Categories: </strong>

 <%@book.categories.find_each do |c|%><%= render partial: 'categories/links', locals: {category: c} %> || <%end%>
 <%= render partial: 'create_category_button', locals: {book: @book}%>
  
<p><%=@book.synopsis%></p>


<%if patron? && @book.available? %>

  <%=@book.available_copies%> available
  <%=button_to "Borrow", loans_path, method: :post, params: {"loan[book_id]": @book.id}%>
  
<%elsif librarian? %>
  
  <br><%= @book.copies%> in collection<br>
  
  
	  <%= @book.checked_out_copies%> checked out <%if @book.checked_out_copies > 0%> to: <br><br>
	  
	  <%@book.loans.on_loan.each do |l|%>
		  <%= link_to l.patron.name, user_path(l.patron)%>, due on <%=l.show_due_date%><br>
	  <%end%>
   <%end%>	  
  

<%end%>

  
