<h2>New Category</h2>

<%= render partial: 'application/errors', locals: {item: @category}%>

<%= form_for @category, url: book_categories_path(@book) do |f|%>
<%= f.radio_button :classification, "fiction" %>
<%= f.label :classfication, "Fiction" %>
<%= f.radio_button :classification, "non_fiction" %>
<%= f.label :classfication, "Non-Fiction" %><br>
<%= f.label :name%>
<%= f.text_field :name%>
<%= f.submit%>
<%end%>