<!DOCTYPE html>
<html>
  <head>
    <title>RailsLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>

		<header>
			<h1 id="logo">RAILS LIBRARY</h1>

		 <span id="login-nav">
				<%= render 'layouts/login_nav'%>
		 <span>

		</header>

		<nav>
			 <%= render 'layouts/user_nav'%>
			 <%= render 'layouts/site_nav'%>
		</nav><br>


		   <%= render 'layouts/flash'%>
    <div id="view-content">
    <%= yield %>
  </div>
    <script src="node_modules/handlebars/dist/handlebars.min.js"></script>
  </body>
</html>
