<!DOCTYPE html>
<html>
  <head>
    <title>RailsLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>

		<header>
			<h1 id="logo">RAILS LIBRARY</h1>

		 <span id="login-nav">
				<%= render 'layouts/login_nav'%>
		 <span>

		</header>

		<nav>
			 <%= render 'layouts/user_nav'%>
			 <%= render 'layouts/site_nav'%>
		</nav><br>


		   <%= render 'layouts/flash'%>
    <div id="view-content">
    <%= yield %>
  </div>

  <script id="books-template" type="text/x-handlebars-template">
     <h1 id="browse-books">Browse Books </h1><br>

     <button id="add-book">Add A Book</button><br><br>

     <a href="#" id="most-borrowed">View Our Most-Borrowed Books</a>
     <h3>Fiction</h3>
     <ul>
      {{#each this}}
        <li>{{title}} by <a href="#" data-author-id>{{author.name}}</a></li>
      {{/each}}
    </ul>
  </script>


  </body>
</html>
