<!DOCTYPE html>
<html>
  <head>
    <title>RailsLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>

		<header>
			<h1 id="logo">RAILS LIBRARY</h1>

		 <span id="login-nav">
				<%= render 'layouts/login_nav'%>
		 <span>

		</header>

		<nav>
			 <%= render 'layouts/user_nav'%>
			 <%= render 'layouts/site_nav'%>
		</nav><br>


		   <%= render 'layouts/flash'%>
    <%= yield %>




  </body>
</html>
