<!DOCTYPE html>
<html>
  <head>
    <title>RailsLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1 id="logo">RAILS LIBRARY</h1>
     <span id="user-nav">
    <%if current_user%>
      <strong>Logged in as: </strong><%=current_user.name%> ||
      <%= link_to "Logout", logout_path, method: :delete%>
    <%else%>
      <%= link_to "Sign Up", signup_path%> ||
      <%= link_to "Log In", login_path%> ||
      <%= link_to "Facebook Log In", "auth/facebook"%>
    <%end%>
     <span>
  </header>
    <nav>
      <%= link_to "Home", root_path%>
      <%if current_user%>
        <% if current_user.patron? %>
          || <%=link_to "Your Account", user_path(current_user)%>
        <%elsif current_user.librarian?%>
          || <%=link_to "Dashboard", dashboard_index_path%>
        <%end%><br>
      <%end%>
    </nav><br>


      <%flash.each do |name, msg|%>
        <%= content_tag :div, msg, class: name%>
      <%end%>

    <%= yield %>
  </body>
</html>
